<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda SIMAN</title>
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/carrousel.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/carrousel.css">
    <link rel="icon" href="../assets/img/main_logo.png" type="image/png">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="menu-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <a href="#" class="logo">
                <img src="../assets/img/nav/logo_nav.svg" alt="Logo">
            </a>
            <div class="search-container">
                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                <input type="text" placeholder="Buscar">
            </div>
            <a href="#" class="cart-icon">
                <img src="../assets/img/nav/cart_logo.svg" alt="Carrito">
            </a>
        </div>
    </nav>


    <div class="dropdown-panel">
        <div class="close-btn">&times;</div>
        <div class="menu-content">
            <a href="../index.html">Home</a>
            <a href="./quienes_somos.html">Quienes Somos</a>
            <a href="./historia.html">Nuestra Historia</a>
        </div>
    </div>


    <main>

        <section class="history-container">
            <article class="history-title">
                <h3>Historia</h3>
            </article>
        
            <article class="history-text">
                <p>Almacenes SIMAN fue fundado el 8 de diciembre de 1921 por Don J. J. Simán, de origen palestino. Inició con una pequeña tienda en el centro de San Salvador. Su primer nombre fue “JOSE J. SIMAN”, y más tarde, cuando los hijos se unieron, el nombre cambió a “JOSE J. SIMAN e HIJOS”. Posteriormente, se convirtió en una sociedad anónima llamada “ALMACENES SIMAN S.A.” En los años sesenta, el almacén se trasladó a un local más grande y se convirtió en una sociedad anónima de capital variable, ahora conocida como “ALMACENES SIMAN S.A. de C.V.” (ALSISA).</p>
            </article>
        
            <figure class="history-image">
                <img src="../assets/img/historia/historia_1.webp" alt="Foto 1">
            </figure>
        
            <section class="history-info">
                <article class="history-text">
                    <p>En 1967 comenzó la construcción de lo que en 1970 se convirtió en el primer almacén por departamentos de El Salvador y el más grande de Centroamérica. En septiembre de 2010, se trasladaron las operaciones a la nueva sucursal Plaza Mundo.</p>
                    <p>En 1974, se construyó un amplio parqueo en la Sucursal Centro y se expandió el almacén original. En 1983, SIMÁN adquirió un edificio en el Centro Comercial Metrocentro. En 1986, tras un terremoto, se abrió una sucursal en la Colonia Escalón. En 1990, se abrió una tercera sucursal en Santa Ana, y en 1998 se trasladó a Metrocentro Santa Ana.</p>
                    <p>En 1993, SIMÁN se expandió a Guatemala con una sucursal en el Centro Comercial Los Próceres. En 1994, inauguró una cuarta sucursal en San Miguel y el 7 de diciembre del mismo año, la Sucursal Galerías en el Centro Comercial Galerías Escalón.</p>
                </article>
        
                <article class="history-text">
                    <p>En 2002, SIMÁN abrió en Galería Managua, Nicaragua. En 2003, abrió su segunda tienda en Guatemala, en el Centro Comercial Miraflores. En 2004, abrió Almacenes SIMAN La Gran Vía en Antiguo Cuscatlán.</p>
                    <p>El 6 de noviembre de 2008, SIMÁN inauguró una tercera tienda en Ciudad de Guatemala, en el Oakland Mall. En el mismo mes, se abrió la sucursal Metrocentro en Nicaragua. En 2009, se expandió a Costa Rica con una tienda en Multiplaza Escazú.</p>
                    <p>En 2010, se inauguró otra sucursal en Soyapango, contiguo a Plaza Mundo. También se actualizó la imagen de la empresa con la campaña 'Tributo a las mujeres' y 'Es tiempo de vivir', presentada por David Bisbal. La campaña ganó un premio Billboard a la mejor campaña de mercadeo en Centroamérica.</p>
                </article>
            </section>
        </section>
        
        
        

       




    </main>

    <footer>

        <article class="footer-article-1">
            <picture>
                <img src="../assets/img/siman_com.png" alt="siman_com" width="200px">
            </picture>
            <section class="contact-info">
                <p>
                    Suscribete para obtener las mejores ofertas
                </p>

                <form class="subscription-form">
                    <input type="email" name="email_footer" id="email_footer">
                    <button type="button">Suscribirme</button>
                </form>

                <div>
                    <p>Manténte en contacto con nosotros</p>
                    <p>2298-3777</p>
                    <div class="socials-container">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>

                    </div>
                </div>

            </section>

        </article>




        <article class="footer-article-2">

            <section class="footer-pagos-container">
                <img><img src="../assets/img/footer/pago_seguro.svg" alt="pago_seguro"></img></div>
                <div><img src="../assets/img/footer/credisiman_targeta.svg" alt="credisiman_targeta"></img></div>
                <div><img src="../assets/img/footer/credisiman_visa.svg" alt="credisiman_visa"></img></div>
                <div><img src="../assets/img/footer/mastercard_logo.svg" alt="mastercard_logo"></img></div>
                <div><img src="../assets/img/footer/visa_logo.svg" alt="visa_logo"></img></div>
            </section>

            <section>
                <p class="">Almacenes Siman S.A. de C.V. //
                    <br>NIT: 0614–170266–001-3 // Almacenes venta de diversos
                    <br>artículos // Paseo General Escalón, Centro Comercial Galerías,
                    <br>San Salvador. // 2298-3777 //
                    <strong>contacto@siman.com</strong>
                </p>

            </section>

            <section>
                <p class="">Copyright © 2024 Almacenes Siman El Salvador. Reservados todos los derechos.</p>
            </section>

        </article>



    </footer>

    <script src="../assets/js/nav.js"></script>
</body>

</html>