<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda SIMAN</title>
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/carrousel.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/carrousel.css">
    <link rel="icon" href="../assets/img/main_logo.png" type="image/png">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="menu-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <a href="#" class="logo">
                <img src="../assets/img/nav/logo_nav.svg" alt="Logo">
            </a>
            <div class="search-container">
                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                <input type="text" placeholder="Buscar">
            </div>
            <a href="#" class="cart-icon">
                <img src="../assets/img/nav/cart_logo.svg" alt="Carrito">
            </a>
        </div>
    </nav>


    <div class="dropdown-panel">
        <div class="close-btn">&times;</div>
        <div class="menu-content">
            <a href="../index.html">Home</a>
            <a href="./quienes_somos.html">Quienes Somos</a>
            <a href="./historia.html">Nuestra Historia</a>
        </div>
    </div>


    <main>

        <section class="somos-container">
            <article class="somos-titulo">
                <h3>SIMAN - CORPORATIVO</h3>
            </article>
            <picture class="somos-imagen">
                <img src="../assets/img/quienes_somos/quienes_somos_11.webp" alt="Foto 1">
            </picture>
        
            <section class="somos-info">
                <article class="somos-texto">
                    <h2>¿Quiénes Somos?</h2>
                    <p>
                        El retail más importante y relevante en Centroamérica, fundada el 8 de diciembre de 1921 en San
                        Salvador por José J. Simán. <br>
                        Nuestros 99 años han forjado una compañía líder, operando en las principales ciudades de El
                        Salvador, San José, Costa Rica; Managua, Nicaragua y Ciudad de Guatemala, Guatemala.
                    </p>
        
                    <h2>Esencia</h2>
                    <p>La mejor experiencia en cada visita.</p>
        
                    <h2>Valores</h2>
                    <ol>
                        <li>Responsabilidad</li>
                        <li>Honestidad</li>
                        <li>Respeto</li>
                        <li>Solidaridad</li>
                        <li>Integridad</li>
                    </ol>
                </article>
        
                <article class="somos-imagen-derecha">
                    <picture>
                        <img src="../assets/img/quienes_somos/quienes_somos_2.webp" alt="Foto 2">
                    </picture>
                </article>
            </section>
        </section>
        



    </main>

    <footer>

        <article class="footer-article-1">
            <picture>
                <img src="../assets/img/siman_com.png" alt="siman_com" width="200px">
            </picture>
            <section class="contact-info">
                <p>
                    Suscribete para obtener las mejores ofertas
                </p>

                <form class="subscription-form">
                    <input type="email" name="email_footer" id="email_footer">
                    <button type="button">Suscribirme</button>
                </form>

                <div>
                    <p>Manténte en contacto con nosotros</p>
                    <p>2298-3777</p>
                    <div class="socials-container">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>

                    </div>
                </div>

            </section>

        </article>




        <article class="footer-article-2">

            <section class="footer-pagos-container">
                <img><img src="../assets/img/footer/pago_seguro.svg" alt="pago_seguro"></img></div>
                <div><img src="../assets/img/footer/credisiman_targeta.svg" alt="credisiman_targeta"></img></div>
                <div><img src="../assets/img/footer/credisiman_visa.svg" alt="credisiman_visa"></img></div>
                <div><img src="../assets/img/footer/mastercard_logo.svg" alt="mastercard_logo"></img></div>
                <div><img src="../assets/img/footer/visa_logo.svg" alt="visa_logo"></img></div>
            </section>

            <section>
                <p class="">Almacenes Siman S.A. de C.V. //
                    <br>NIT: 0614–170266–001-3 // Almacenes venta de diversos
                    <br>artículos // Paseo General Escalón, Centro Comercial Galerías,
                    <br>San Salvador. // 2298-3777 //
                    <strong>contacto@siman.com</strong>
                </p>

            </section>

            <section>
                <p class="">Copyright © 2024 Almacenes Siman El Salvador. Reservados todos los derechos.</p>
            </section>

        </article>



    </footer>

    <script src="../assets/js/nav.js"></script>
</body>

</html>